@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    font-family: 'Share Tech', sans-serif;
    overflow-x: hidden; 
}


#navbar {
    position: sticky;
    position: fixed;

    width: 100%;
    top: 0;
    z-index: 1000 ;
    
  }

#home {
    background-image: url('./images/Apex_Legends_Octane_video_game_art-2138043.jpg');
    background-repeat: no-repeat;
    height: 900px;
    background-size: cover;
    background-position: center;
    margin-top: 0; 
    animation: fade-in 3s ease-in-out forwards; 
    
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



nav{
    font-weight: 1000;
    font-size: 120%;
}

nav a{
    text-decoration: none;
}

nav a :hover{
    color: rgb(169, 28, 235);
}

nav i{
    font-size: 30px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
}

 #home h1{
    font-size: 300%;
    font-weight: 1000;
    color: aliceblue;

 }

 #home p{
    font-size: 20px;
    color: aquamarine;
 }

 #home .register{
    font-weight: 900;
   
 }

 #home .rules{
    font-weight: 900;
    
 }


 #about{
    background-image: url('./images/bg2.png');
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    background-position: center;
    margin-top: 0;
   

 }

 #about{
    overflow-y: hidden;

 }

 #about .row{

    padding-top: 100px;
    padding-left: 100px;
   

 }

 #about img{
    height: 700px;
    width: 800px;
 }


 #about .col-6 {
    flex: 0 0 auto;
    width: 45%;
    height: 100%;
}
 #about h1 {
    font-weight: 900;
    color: rgb(255, 255, 255);

 }

#booking .col-4 {
   padding-left: 500px;
}

 #about h2 {
    font-weight: 900;
    color: blueviolet;

 }

 #about span{
    font-weight: 900;
    font-size: 20px;
    
    
 }

 #register{
    padding-top: 100px;
    padding-left: 50px;
 }


 #register .row{
    padding-top: 100px;
    padding-left: 50px;
 }

 #register img{
    width: 800px;
    height: 400px;
 }

 #management {
    padding-top: 100px;
 }

 #management img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
 }

 #management .row{
    text-align:  center;
    padding-top: 50px;
    padding-left: 180PX;

 }

 #management .mg{
    text-align:  center;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
 }

 #fill{
    width: 45%;
  
}



 footer{
    text-align:  center;
    margin-top: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    background-color: rgba(44, 1, 85, 0.5);
    
}

footer i{
    font-size: 30px;
    padding: 20px;
}

#fot{
    padding-bottom: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(1, 49, 112);
    border-radius: 18px 0px 18px 0px;
}


/* _________Media query_________ */
 

@media (max-width: 600px) {

    #management .row {
        display: grid;
        text-align: center;
        padding-left: 130px;
        padding-top: 0px;
        --bs-gutter-x: 20.0rem;
        --bs-gutter-y: 0;

    }

    #register .row{
        display: grid;
        padding-left: 0px;
        width: 185%;
        margin-top: -100px;
       
    }

    #register img {
        width: 310px;
        height: 170px;
    }

    #about .row{
        display: grid;
        padding-top: 60px;
        padding-left: 100px;
    }

    #about img{
        width: 320px;
        height: 220px;
        

    }
    #about .col-6 {
        width: 100%;
        height: 100%;
        margin-left: -40px;
    }

    #fill{
        padding-top: 60px;
        width: 50%;
        display: block;
        align-items: center;
    }

  
}

